.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    height: 60px;
    width: max(10%,70px);
}
.navbar .profile{
    width: 40px;
}